nav {
    display: flex;
    justify-content: center;
}

nav a{
    text-decoration: none;
    padding: 5px;
    margin: 0 5px;
    color: #000;    
}

nav a:hover{    
    color: rgb(100, 99, 99);    
}

nav a.active{
    background-color: #000;
    color: #fff 
}